.modal-body img {
  width: 100%;
}

.modal-body h3{
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  font-size: 16px;
  text-transform: none;
  font-weight: 100;
  margin-bottom: 75px;
  line-height: 40px;
}

.modal {
  overflow-y: scroll !important;
}

.navbar-custom .nav li a {
  color: #627e94;
}
.portfolio-modal .prev-modal {
  position: absolute;
  top: 40%;
  left: 50px;
}

.portfolio-modal .prev-modal .lr {
  height: 40px;
  width: 1px;
  margin-left: 35px;
  background-color: #222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.portfolio-modal .prev-modal .lr .rl {
  height: 40px;
  width: 1px;
  background-color: #222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  z-index: 1052;
  position: relative;
  top: 20px;
  left: 20px;
}

.portfolio-modal .next-modal {
  position: absolute;
  top: 42.4%;
  right: 90px;
}

.portfolio-modal .next-modal .lr {
  height: 40px;
  width: 1px;
  margin-left: 35px;
  background-color: #222;
  transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

.portfolio-modal .next-modal .lr .rl {
  height: 40px;
  width: 1px;
  background-color: #222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  z-index: 1052;
  position: relative;
  top: 20px;
  left: 20px;
}

.portfolio-modal .next-modal .click-wrapper {
  position: absolute;
  width: 70px;
  height: 70px;
  right: -33px;
  bottom: 0px;
  cursor: pointer;
  z-index: 1054;
}

.portfolio-modal .prev-modal .click-wrapper {
  position: absolute;
  width: 70px;
  height: 70px;
  right: -33px;
  top: 0px;
  cursor: pointer;
  z-index: 1054;
}

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #334455 ! important;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #334455 !important;
  opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #334455 !important;
  opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #334455 !important;
}
