.modal-body img {
  width: 100%;
}

.modal-body h3{
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  font-size: 16px;
  text-transform: none;
  font-weight: 100;
  margin-bottom: 75px;
  line-height: 40px;
}
